
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.25em;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* The real fun starts now */
html {
    width: 100%;
    height: 100%;
    
    background: #e0e4eb;
    /* background: url("images/background.jpg") center center no-repeat fixed;
    background-size: cover; */
}

body {
    width: 100%;
    
    font-family: Arial, sans-serif;
    color: #343a45;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 1.75em;
}

h2 {
    font-size: 1.50em;
}

h3 {
    font-size: 1.25em;
}

.hidden {
    display: none;
}

.spinner {
    display: inline-block;
    
    width:  1.75em;
    height: 1.75em;
    background-color: #4f5664;
    
    margin: 0 12px -4px 0;
}

.spinner-animated {
    -webkit-animation: rotateplane 1.2s infinite ease-in-out;
    animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
    0% { 
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
    } 50% { 
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
    } 100% { 
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

#title {
    padding: 2em;
}

#title div, h1 {
    display: inline-block;
}

#months {
    display: block;
    width: 100%;
    padding: 0px;
    
    background-color: #384355;
    box-shadow: inset 1px 2px 4px  -2px #01050b,
                inset 1px 4px 20px -4px #090b0f;
    
    border-bottom: 0.075em solid #ffffff;
    
    /* Animation */
    -webkit-transition: height 0.65s ease;
       -moz-transition: height 0.65s ease;
         -o-transition: height 0.65s ease;
        -ms-transition: height 0.65s ease;
            transition: height 0.65s ease;
}

.collapsed {
    height: 0px;
    overflow: hidden;
}

.expanded {
    height: 2.8em;
}

.month {
    position: relative;
    top: 0;
    display: inline-block;
    
    padding: 1em 1.6em;
    max-width: 7.6%;
    
    text-shadow: 0.05em 0.05em #596271;
    
    text-align: center;
}

.month a {
    color: #a2adbf;
}

.month:hover {
    background: #465165;
}

.month.selected {
    background: #465165;
}

#content {
    display: table;
}

#content h1 {
    display: inline-block;
}

#deadlines {
    display: table;
    padding: 2em;
    margin-left: 0.1em;
}

.deadline {
    display: inline-table;
    margin: 10px 10px 10px 0;
    
    background: #506383;
    
    vertical-align: top;
}

.deadline input, .deadline form, .deadline textarea {
    display: inline-block;
    
    border: none;
    margin: 0;
    padding: 0;
    font-size: 1.0em;
    vertical-align: baseline;
    
    color: #a2adbf;
    background: transparent;
}

.deadline input[name=name] {
    margin-left: 0.5em;
    padding-left: 0.5em;
    
    width: auto;
}

.deadline input[name=date] {
    margin-left: 0.5em;
    padding-left: 0.5em;
    
    width: auto;
}

.deadline textarea[name=notes] {
    display: block;
    clear: both;
    margin: 0.5em 1.10em 0.5em 1.10em;
    
    width: 100%;
    min-height: 4em;
    
    overflow: visible;
}

.new {
    color: #a2adbf;
}

a.add, a.hide, a.save, a.del, a.more, a.less {
    display: inline-block;
    width: 1.10em;
    height: 1.10em;
    
    vertical-align: top;
    
    color: #becadd;
    font-size: 1.25em;
    background-color: #4f5664;
    
    text-align: center;
    
    cursor: pointer;
}

a img {
    width: 16px;
    margin: 1px 1px 2px 1px;
    vertical-align: middle;
}
